

body{   
background-color: #f4f7f5;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
margin: 1px;
padding: 0;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f7f5;
}

main{ 
max-width: 900px;
margin: 0 auto;
padding: 20px;
}

nav{
background-color: #AD1519;
padding: 12px;
text-align: center;
font-size: larger;
}

nav a{
color: #FABD00;
text-decoration: none;
margin-right: 15px;
font-weight:lighter;
padding: 1px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover{
text-decoration:underline;
}

h1, h2 text-align: center;


h1{
    
margin-top: 0;
}
h2{
border-bottom: 2px solid #ddd;
padding-bottom: 6px;
margin-top: 30px;
}

.spanishflag{
border: 1px solid #ccc;
display: flex;
width: 120px;
height: 70px;
margin: 10px 0;
flex-direction: column;
}

.red{
background-color: #AD1519;
flex: 1;
}

.yellow{
background-color: #FABD00;
flex: 2;
}

.page-header{
display:flex;
align-items: center;
gap: 15px;
}

.section{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.section img{
    width: 300px;
    border-radius: 10px;
}

.section p{
    line-height: 1.6;
}