

img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}



body{
    display: block;
    
    background-color: #f4f7f5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 0;
 }

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f7f5;
}

main { 
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
nav {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    position:fixed;
    background-color: #169b62;
    padding: 12px;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
h1, h2 {
    text-align: center;
}

h1 {
    
    margin-top: 0;
}
h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 6px;
    margin-top: 30px;
}

h3 {
    margin: 50px;
}

ul, ol, p, img {
    margin: 50px;
}

.flag {
    border: 1px solid #ccc;
    display: flex;
    width: 120px;
    height: 70px;
    margin: 10px 0;
}

.green {
    background-color: #169b62;
    flex: 1;
}
.white {
    background-color: #ffffff;
    flex: 1;
}

.orange {
    background-color: #ff883e;
    flex: 1;
}

.page-header{
    display:flex;
    align-items: center;
    gap: 15px;
}

.dropbtn {
  color: white;
  background-color: inherit;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #121212;
}